table {
  border-collapse: collapse;
  border:1px solid black;
  
}

.MedalTable {
  margin-top: -10px;
}

.olympic-header {
  font-size: 34px;
  font-weight: bold;
  margin-top: 1px;
}

td, th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
.TableHeader {
  background-color: #F2F0EF;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-row {
  display: flex;
  gap: 10px; 
  align-items: flex-start;
}
.GoldMedal{
  font-size: 20px;
   text-align: left;
}
.GoldMedalButton {
  position: absolute;
  left: 275px;
  font-variant-numeric: tabular-nums;
}

.medal-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.medal-controls {
  display: flex;
  gap: 20px;
}

.medal-add, .medal-remove {
  margin-top: 5px;
  cursor: pointer;
  background-color: lightgray;
}

.medal-name, .medal-count {
  margin-top: 5px;

}

.medal-add:hover, .medal-remove:hover {
  background-color: white;

}

.delete-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}